<% if controller.controller_name == "static" && controller.action_name == "home" %>
  <div id="ff_header_container">
    <div id="ff_header">
      <div id="ff_tagline">
        <div>It starts with a Spark . . .</div> 
      </div>    
    </div> 
  </div>
<% else %>
  <div id="header_container">
    <div id="footer">This is the header</div>
  </div>
<% end %>