<div style="font-size: 2.25em; margin: 30px 0;">
  A Little Bit of Background
</div>
<hr/>
<div id="about_us_text" style="margin-top: 30px;">
  <div class="adam_avatar inline" style="margin: 10px 30px 0 0;"></div> 
  My name is <%= link_to "Adam McGowan", "http://www.about.me/adam.mcgowan", :target => "_blank"%> and I founded Firefield because I felt that even though incubators, accelerators and micro-funds are prevalent in the startup space, early stage entrepreneurs still aren&#39;t getting the support they need. I wanted to create an environment where like-minded individuals can connect with each other, fill in gaps in their skill sets (or funding situations), and find partners to help them launch the world's next killer app. To many I am better known as the founder of <%= link_to "Addie.it", "http://addie.it", :target => "_blank" %> and the face behind <%= link_to "@mcgowan15", "http://twitter.com/mcgowan15", :target => "_blank" %>. To others, I&#39;m a collector of sneakers and a guy who makes a decent braised short rib. I can  be found frequently sharing my thoughts on startups, productivity, and technology via my <a href="http://mcgowan15.com" target="_blank">blog</a>.<br/><br/>

Regardless of your needs, Firefield is here to help, and if we can&#39;t, then we&#39;ll connect you with people who can. To learn more, <%= link_to "reach out", contact_path %> to us anytime. We look forward to working with you. 
  <div class="clear"></div> 
</div> 