<% content_for :head_content do %>
  <title>Firefield: Our Clients</title> 
  <meta name="description" content="Firefield has provided software development and strategic consulting to a number of clients.">
<% end %>

<div class="basic_header mgn_20_t">A Few of our Esteemed Clients</div>  
<hr/>
<div class="client_box">
  <div class="client_logo inline">
    <a href="http://fixxbook.com/" target="_blank"><div class="fixxbook_logo"></div></a>
  </div>
  <div class="client_text inline" style="margin-top: 15px;">
    <%= link_to 'Fixxbook.com', 'http://fixxbook.com', :target => '_blank' %> is an outstanding web solution that provides facilities managers and contractors a single platform to publicize their profiles. As a collaborative environment for the procurement of facilities maintenance services and supplies, Fixxbook empowers its users to drive significant ROI for their organizations.
  </div>
  <div class='clear'></div>
</div>
<hr/>
<div class="client_box">
  <div class="client_logo inline">
    <a href="http://encompasseducation.com/" target="_blank"><div class="encompass_logo"></div></a>
  </div>
  <div class="client_text inline" style="margin-top: 20px;">
    Working both with world-class organizations and parents directly, <%= link_to 'EnCompass Education', 'http://encompasseducation.com', :target => '_blank' %> provides practical advice for securing public and private education-related services. Whether dealing with IEPs, evaluations, autism spectrum disorders, learning disabilities, or ADHD, EnCompass leverages its deep special education expertise to provide amazing benefits to its clients.
  </div>  
  <div class='clear'></div>
</div> 
<hr/>  
<div class="client_box">
  <div class="client_logo inline">
    <a href="http://eventedge.co" target="_blank"><div class="eventedge_logo"></div></a>  
  </div>
  <div class="client_text inline" style="margin-top: 10px;">
    <%= link_to 'EventEdge', 'http://eventedge.co', :target => '_blank' %> is changing the game for event organizers and attendees. By providing customized mobile apps, EventEdge empowers event organizers to  
share information, create social interaction, and collect valuable data while reducing prep time and costs. 
Meanwhile, the attendees achieve a substantially enhanced event experience.
  </div>  
  <div class='clear'></div>  
</div> 
<hr/>  
<div class="client_box">
  <div class="client_logo inline">
    <a href="http://wcl90.com/" target="_blank"><div class="wcl_logo"></div></a>   
  </div>
  <div class="client_text inline" style="margin-top: 15px;">
    Through its camps, tournaments, and spring break training packages, <%= link_to 'World Class Lacrosse', 'http://wcl90.com', :target => '_blank' %> is providing athletes, coaches, parents, and organizers the nation&#39;s premiere lacrosse experiences. As a family run business for more than 20 years, WCL offers  its participants unmatched customer service, quality, and value.
  </div>  
  <div class='clear'></div>     
</div>
