<div>
  <h1>Connect</h1>
  <%= link_to "Home", root_path %>
</div>   

<div>
  <div class="avatar_1 inline"></div>
  <div class="avatar_2 inline"></div>
  <div class="avatar_3 inline"></div>
  <div class="clear"></div>
</div>