<% content_for :head_content do %>
  <title>Firefield: Consulting</title> 
<% end %>
<div>
  <div class="grid_4d alpha">
    Software
  </div>
  <div class="grid_4d alpha">
    Strategy
  </div>
  <div class="grid_4d alpha">
    Operations
  </div>
  <div class="clear"></div>  
</div>