<div>
  <div class="grid_4d alpha">
    Software
  </div>
  <div class="grid_4d alpha">
    Strategy
  </div>
  <div class="grid_4d alpha">
    Operations
  </div>
  <div class="clear"></div>  
</div>