<% content_for :head_content do %>
  <title>Firefield: The Ingite Program</title> 
  <meta name="description" content="Firefield turns great ideas into successful products quickly and cost effectively.">
<% end %>
<div class="grid_4d alpha">  
  <div class="ignite_graphic"></div>
  <hr/>
  <div class="ignite_text">
    You supply the fuel.<br/>
    We&#39;ll light the fire.  
  </div>
  <a href="<%= ignite_contact_path %>"><div class="get_started_btn"></div></a>
</div>
<div class="grid_8d omega">
  <div id="ignite_header">The Firefield IGNITE Program</div>
  <hr/>
  <div id="ignite_body">
    <p>Do any of these descriptions sound familiar?</p>
    <ul>
      <li>I&#39;m not a techie, but I&#39;ve got a great idea and no idea where to start.</li>
      <li>I have some tech chops, but I need help bringing my product to market.</li>
      <li>Before I spend my life savings on a startup, I want to see what potential users and investors think.</li>
    </ul>      
    <p>If any of these apply to you, then IGNITE is exactly what you&#39;ve been waiting for. Our program is built on the premise that great web products can be launched quickly and cost-effectively, whether you&#39;re a member of the tech elite or not. IGNITE is built on a few key concepts:</p>    
    <ul>
      <li>Applications will evolve, so minimize the expense of your first launch.</li>       
      <li>Your first release should be in front of users within four weeks.</li>
      <li>Focus on the critical features. . . and ONLY the critical features at first.</li>  
      <li>Don&#39;t guess what your customers want or need. Deliver them something and ask.</li> 
      <li>Great products in front of users beat perfect products still in development.</li>     
    </ul>            
    <p><%= link_to "Contact us today", ignite_contact_path %> to see just how quickly IGNITE can take your concept from idea to launch. The consultation is free, so what are you waiting for?</p>        
  </div>
</div>
<div class="clear"></div>