<div class="left_logos inline" style="width: 506px;"> 
  <div class="logos_text" style="height: 250px;">
    <div class="basic_header" style="margin-top: 30px;">The Right Partners Make<br/>All the Difference</div>
    <hr/>  
    <div class="basic_body">
      <p> 
        We purposely utilize vendors and technologies that share our main goal: to provide a top quality product as quickly, reliably, and cost-effectively as possible. Whether selecting a development framework, a server provider, or a tool for managing workflow and communication, we chose products and companies that make our lives and the lives of our clients easier. We support them and encourage you to do the same.        
      </p>
    </div>
    
  </div>
  <div>
    <a href="http://rubyonrails.org/" target="_blank"><div class="ror_logo inline"></div></a> 
    <a href="https://github.com/" target="_blank"><div class="github_logo inline"></div></a>
    <div class="clear"></div>
  </div>
</div>
<div class="right_logos inline fright">
  <a href="http://jquery.com/" target="_blank"><div class="jquery_logo"></div></a>
  <a href="http://aws.amazon.com/" target="_blank"><div class="aws_logo"></div></a>
  <a href="https://www.pivotaltracker.com" target="_blank"><div class="pivotal_logo"></div></a>
  <a href="http://37signals.com/" target="_blank"><div class="_37signals_logo"></div></a>
  <div class="clear"></div>  
</div>
<div class="clear"></div>         