html, body {
  height: 100%;
}

body, .wufoo {
	/*font-family: 'Droid Sans', sans-serif; */  
	font-family: 'Lato', sans-serif;
	font-size:100%;
  line-height:1.125em; /* 16×1.125=18 */
} 

a {
  color: #729E1B;
}

a:hover {
  color: #f15a24;
}

#ff_header_container, #footer_container, #header_container {
 background-color: #000; 
}

#ff_header, #header, #footer {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  color: #FFF;
}

#ff_header { 
  height: 150px;
  background: url("firefield_header.png");
}

#ff_tagline {
  margin-top: 50px;
  width: 550px;
  float: right;  
  font-size: 2.5em;
  font-family: 'Gruppo', sans-serif;
}

#header_logo {
  height: 24px; 
  width: 147px;
  background: url("header_logo.png");  
}

#footer { 
  margin-top: 10px;
  height: 40px;
   
  a {
    color: #FFF;
  }
}

#header_container { 
  padding: 6px 0;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
} 

.adam_avatar { 
  height: 180px;
  width: 180px;
  background: url("adam_headshot.jpg");
} 

.logo_lg { 
  height: 178px;
  width: 178px;
  background: url("logo_lg.png");
}

#ignite_logo {
  margin-left: 20px; 
  margin-bottom: 10px;
  width: 301px;
  height: 97px;
  background: url('ignite_logo_sprite.png') no-repeat #ddd; 
}  

.ignite_graphic {  
  margin: 30px 0 30px 0;
  width: 300px;
  height: 238px;
 background: url('ignite_graphic.png') no-repeat #fff;  
} 

.get_started_btn {
  width: 220px;
  height: 55px; 
  margin-left: 40px;
  background: url('get_started_sprite.png') no-repeat #fff;
} 

.get_started_btn:hover {
  background-position: 0 -50px;
}

.ignite_text {
  margin-top: 20px;
  line-height: 1.75em;
  text-align: center;
  font-size: 1.8em;
  font-family: 'Gruppo', sans-serif;
  font-weight: bold;
} 

#ignite_header {
  margin-top: 30px;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Gruppo', sans-serif;
  font-weight: bold;   
}

#ignite_body {
  margin: 20px; 
  text-align: justify;
  line-height: 1.25em;
} 

#ignite_body ul {
  margin: 10px 0 10px 20px;  
  list-style: circle outside;
} 

#ignite_body p {
  margin-top: 10px;
  font-size: 1em;
}

#ignite_logo:hover {
  background-position: 0px -100px; 
}
  
.icon_big {
  margin-top: 35px;
  height: 70px;
  width: 70px;
}

.icon_big.disk {background: url('icon_disk.png') no-repeat #fff;}
.icon_big.bulb {background: url('icon_bulb.png') no-repeat #fff;} 
.icon_big.gear {background: url('icon_gear.png') no-repeat #fff;} 

.icon_big.gear:hover, .icon_big.disk:hover, .icon_big.bulb:hover {background-position: -0 -70px;}

.consult_body {
  width: 430px;
  height: 70px; 
  border-top: 1px solid #aaa; 
  border-left: 1px solid #aaa; 
} 

.consult_body div { 
  text-align: justify;
  padding: 5px 10px;
}

.consult_box {
  height: 120px;
} 

.consult_header {
  margin: 0 0 5px 10px;
  font-size: 1.1em;
}

.consult_content {
  margin-top: 10px; 
  margin-left: 20px;
}

.consult_header a {
  text-decoration: none;
  font-weight: bold;
}

.consult_container {
  margin-top: 1px;
}

.lead_paragraph { 
  text-align: center;
  font-size: 1.4em;
  line-height: 1.5em;  
}

.box_body {
  text-align: justify; 
  line-height: 1.75em;
}

#copyright {line-height: 33px; font-size: 0.8em;} 

ul.nav_list { 
  float: right;
  /* margin-left: 50px; */
  li {
    display:inline;
    float:left;
  	margin-right: 30px;  
  	text-align: center; 
  	line-height: 2em; 
  	a {
  	  text-decoration: none;
  	} 
  }      
} 
#footer a:hover {color: #729E1B;}   

#about_us_text { 
  font-size: 1.25em;
  line-height: 1.75em;
  text-align: justify;
} 

/* -------------------- */
/* Box Model
/* -------------------- */ 
.inline {
  display:inline;
  float:left;  
}
.mgn_10 {margin: 10px;}   
.mgn_10_t {margin-top: 10px;} 
.mgn_20 {margin: 20px;}   
.mgn_20_t {margin-top: 20px;}






